<ap-photos [photos]="photos"></ap-photos>

<!--<h1>{{ title }}</h1>-->
<!--
  Utilizando o componente photo para renderizar as fotos na tela
  <ap-photo url="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Sultan_the_Barbary_Lion.jpg/440px-Sultan_the_Barbary_Lion.jpg" description="Leão"></ap-photo>
  <ap-photo url="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Lioness_Etosha_NP.jpg/500px-Lioness_Etosha_NP.jpg" description="Leoa"></ap-photo>
-->
<!-- 
  Aqui criamos um array no back end com as mesmas urls e descriptions acima, dessa forma podemos iterar sobre esse array
  e assim renderizar as imagens de forma dinamica, possibilitando obeter essas imagens do BD, por exemplo, além de diminuir as linhas de código
  Também estamos usando diretivas, ou seja, alteramos o comportamento do componente ap-photo utilizar um array.

<ap-photo 
  *ngFor="let photo of photos" 
  [url]="photo.url" 
  [description]="photo.description">
</ap-photo>
-->
